body {
    padding: 8%;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

h1{
    margin-bottom: 4%;
}

form{
    width: 50%;
}

textarea{
    width: 125%;
}

.btn-primary{
    margin-left: 18%;
}

.leftside{
    width: 35%;
    display: inline-block;
    vertical-align: top;
}

.rightside{
    width: 55%;
    display:inline-block;
    vertical-align: top;
}

li{
    margin: 2% 0%;
}

#product .col-form-label, #category .col-form-label{
    width: 130px;
    display: inline-block;
}

#product .col-sm-10, #category .col-sm-10{
    width: 400px;
    display: inline-block;
}

h3{
    margin: 0px;
}

#product .row, #category .row{
    width: 600px;
}

.btn{
    margin-left: 41%;
    margin-top: 20%;
}